/*---MESSAGES---*/

.inbox-container {
  background-color: $colour-background;
  padding-bottom: 60px;
  min-height: 100vh;
}

.messages-container {
  max-width: 600px;
  padding: 0 20px;
}

.messageItem-card {
  margin-bottom: 20px;
  border-radius: 5px;

  .card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: $colour-background-banner;
    &__name {
      font-size: 1.125rem;
      margin-right: 10px;
    }
    &__email {
      font-weight: 300;
      margin-right: 10px;
    }
    &__date {
      font-style: italic;
      font-size: 0.875rem;
    }
  }

  .card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
    &__subject {
      span {
        font-size: 1.125rem;
        font-weight: 600;
      }
    }
    &__button {
      background-color: $colour-primary;
      border-color: $colour-primary-shade;
      color: $colour-ui-primary;
      box-shadow: 3px 3px 3px $colour-ui-shadow;
      &:hover {
        background-color: transparent;
      }
    }
  }
}

.messages-modal {
  &__date {
    font-style: italic;
  }
  .modal-header {
    background-color: $colour-background-banner;
  }
}

/*---ADD NEW----*/

.add-container {
  background-color: $colour-background;
  padding-bottom: 60px;
  min-height: 100vh;

  &__form {
    max-width: $bootstrap-md;
    padding: 20px 20px;

    .btn.btn-primary {
      color: $colour-ui-primary;
      background-color: $colour-primary;
      border: 2px solid $colour-primary-shade;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
      text-transform: uppercase;
      font-size: 1.125rem;
      letter-spacing: 0.05rem;
      margin-top: 20px;
      &:hover {
        background-color: transparent;
      }
    }
    &--success-message {
      color: $colour-success;
      margin-bottom: 20px;
      text-align: center;
      font-size: 1.125rem;
      font-weight: 600;
      text-transform: uppercase;
    }
    &--featured {
      margin-top: 24px;
      label {
        margin-right: 10px;
      }
    }
  }
}

/*----ENQUIRIES---*/

.enquiries-container {
  background-color: $colour-background;
  padding-bottom: 60px;
  min-height: 100vh;

  .container {
    padding: 0 20px;
  }
}

.enquiry-card {
  height: 100%;

  .card-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: $colour-background-banner;
    &__name {
      font-size: 1.125rem;
      margin-right: 10px;
    }
    &__email {
      font-weight: 300;
      margin-right: 10px;
    }
  }
  .card-body {
    span {
      font-weight: 700;
      margin-right: 10px;
    }
  }
}

@media (min-width: $bootstrap-lg) {
  .enquiry-card {
    height: 100%;
    .card-header {
      display: flex;
      flex-direction: row;
    }
  }
}
