.breadcrumb {
  margin-top: 16px;
  margin-bottom: 0;
  a {
    text-decoration: none;
    color: $colour-background-footer;
    margin-top: 16px;
    &:hover {
      text-decoration: underline;
    }
  }
}

.details-container {
  min-height: 100vh;
  padding: 0 20px 60px 20px;
  margin: 0 auto;
  &__image {
    width: 220px;
    height: 220px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin: 8px;
  }
  &__image-container {
    position: relative;
    margin: 0 auto;
  }
  &__btn-view.btn-primary {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 150px;
    text-transform: uppercase;
    letter-spacing: 0.06rem;
    color: $colour-ui-primary;
    background-color: $colour-background;
    border: none;
    box-shadow: 2px 2px 2px $colour-ui-shadow;
  }
  &__btn-book.btn.btn-primary {
    color: $colour-ui-primary;
    background-color: $colour-primary;
    border: 2px solid $colour-primary-shade;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-size: 1.125rem;
    letter-spacing: 0.05rem;
    margin-top: 20px;
    &:hover {
      background-color: transparent;
    }
  }
  &__info {
    padding: 20px 5px;
    max-width: 700px;
    &--price {
      font-size: 1.5rem;
      font-weight: 600;
      span {
        font-style: italic;
        font-weight: 400;
      }
    }
    &--capacity {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 220px;
      align-items: center;
      margin-bottom: 20px;
      p {
        margin: 0;
      }
      span {
        font-weight: 600;
        margin-right: 5px;
      }
    }
    &--address {
      font-style: italic;
    }
  }
}

.details-carousel {
  .carousel-item {
    img {
      height: 60vh;
      object-fit: contain;
    }
  }
}

.details-modal-view {
  .modal-footer {
    border: none;
    .btn-primary {
      color: $colour-ui-secondary;
      background-color: $colour-background-text;
      border: 2px solid $colour-background-text-shade;
      text-transform: uppercase;
      letter-spacing: 0.06rem;
      &:hover {
        color: $colour-ui-primary;
        background-color: transparent;
      }
    }
  }
}

.enquiry-modal {
  .modal-header {
    background-color: $colour-background-banner;
    border: none;
  }
  .modal-body {
    padding: 0 20px 40px 20px;
  }
  &__form {
    max-width: $bootstrap-sm;
    margin: 0 auto;
    &--check {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 280px;
      margin-top: 30px;
      input {
        padding: 0.375rem 0.75rem;
        border-radius: 0.25rem;
        border: 1px solid $colour-input;
        color: #6c757d;
      }
    }
    .btn.btn-primary {
      color: $colour-ui-primary;
      background-color: $colour-primary;
      border: 2px solid $colour-primary-shade;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
      text-transform: uppercase;
      font-size: 1.125rem;
      letter-spacing: 0.05rem;
      margin-top: 20px;
      &:hover {
        background-color: transparent;
      }
    }
    &--btn-close.btn.btn-primary {
      margin-right: 20px;
      color: $colour-ui-secondary;
      background-color: $colour-background-text;
      border: 2px solid $colour-background-text-shade;
      &:hover {
        background-color: transparent;
        color: $colour-ui-primary;
      }
    }
    &--success-message {
      color: $colour-success;
      margin-bottom: 20px;
      text-align: center;
      font-size: 1.125rem;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}

@media (min-width: $bootstrap-md) {
  .details-container {
    padding: 0 0 60px 0;
  }
}
